<div class="row full-width">
  <div class="large-4 columns">
    <form action="#">

      <div class="row">
        <div class="large-12 columns">
          <label for="table">Select a table
            <select name="table">
              {{#each tables}}
                <option value="{{cdb_usertables}}">{{cdb_usertables}}</option>
              {{/each}}
            </select>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label for="query">or write a SQL query
            <textarea name="query" placeholder="SELECT * FROM tableName"></textarea>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label for="xcolumn">X column (Number or Date)
            <input type="text" name="xcolumn" placeholder="column_name">
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label for="ycolumn">Y column (Number)
            <input type="text" name="ycolumn" placeholder="column_name">
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <button type="submit" class="button small">Generate chart</button>
        </div>
      </div>

    </form>
  </div>
  <div class="large-8 columns">
    <div id="chartView"></div>
  </div>
</div>
